<!DOCTYPE html>
<html lang="en">

<head>
  <title>Active contour segmentation</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
    .preview-image {
      height: 50%;
      width: 100%;
    }

    .custom-file-upload {
      width: 150px;
      text-align: center;
      margin-left: 25.5%;
      margin-top: 40px;
      border: 1px solid #ccc;
      border-radius: 10px;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      background-color: white;
      }

      .custom-file-download {
      width: 150px;
      text-align: center;
      margin-left: 1%;
      margin-top: 40px;
      border: 1px solid #ccc;
      border-radius: 10px;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      background-color: white;
      }

    input[type="file"] {
      display: none;
    }

    #paragraph {
      font-size: 25px;
      line-height: 50px;
      font-family:Montserrat;
      margin-left: 13px;
    }

    body {
      font-family: Verdana;
    }

    .columnu {
      float: left;
      width: 45%;
      color: #3182ce;
      background-color: white;
      margin-top: 7px;
      margin-left: 10px;

    }

    .rowu {
      width: 50%;
      margin: auto;
      text-align: center;
    }


    @media screen and (max-width: 500px) {
      .columnu {
        width: 100%;
      }
    }
  </style>

</head>

<body style="background-color:white">

  <div
    style="background-color: #ffffff; color: black;text-align: left; box-shadow: 0px 1px 10px 1px #6b6b6b">
    <p id="paragraph" >Active tumour segmentation</p>
  </div>



  <form id="form" action="https://sleepy-inlet-66622.herokuapp.com/upload" enctype="multipart/form-data" method="POST">


    <label class="custom-file-upload">
      <img src="{{url_for('static', filename='uploader/upload.png')}}" width="13%" height="13%">
      <input type="file" name="file" id="file" onchange="document.getElementById('upload').click()" />
      Upload
    </label>

    <input id="upload" type="Submit" value="Upload" style="display: none;" />


    <label id="downloadButton" class="custom-file-download" >
      <img src="{{url_for('static', filename='uploader/download.png')}}" width="13%" height="13%">
      <a style="color:black; text-decoration: none;" href="/download">Download</a>
    </label>

    <script type="text/javascript">
    document.getElementById("downloadButton").onclick = function () {
        location.href = "/download";
    };
    </script>

  </form>
  <br><br>
  <div class="rowu">
    {% for upload in uploads %}
    {% if ('png' in upload) or ('jpg' in upload) or ('jpeg' in upload) %}
    <div class="columnu">
      <img class="preview-image" src="{{url_for('static', filename=upload)}}" alt="{{upload}}">
      {% print(upload.split("/")[1][:20]) %}
    </div>
    {% endif %}
    {% endfor %}
  </div>

</body>

</html>